<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SklepNa++</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <link href="static/assets/home/css/main.css" rel="stylesheet" />
        <script type="text/javascript" src="static/assets/home/js/darkmode_head.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Include jQuery -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <style>
          .eye circle:nth-of-type(2) {
            fill: var(--glint);
          }

          .form-group {
              display: flex;
              align-items: center;
          }

          .button2 {
              padding: 0;
              display: grid;
              place-items: center;
              height: 40px; /* Dostosuj wysokość przycisku */
              width: 40px; /* Dostosuj szerokość przycisku */
              margin-left: 8px; /* Odstęp od pola tekstowego */
              /* Pozostałe style pozostają bez zmian */
          }

          input::selection {
            background: var(--selection);
          }

          button2:is(:focus-visible, :hover) {
            --active: 1;
          }

          button svg {
            width: 75%;
          }
          
          .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border-width: 0;
          }
        </style>
    </head>

    <body class="bg-white dark:bg-gray-900 transition-all duration-900 ease-in-out">
        
        <nav class="bg-white border-gray-200 dark:bg-gray-900 sticky top-0 z-50">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
              <a href="/" class="flex items-center">
                <img src="static/assets/home/images/logo.png" class="h-8 mr-3" alt="SklepNa++" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Sklep·Na·++</span>
              </a>
            <div class="flex items-center md:order-2">
                <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 transition-all duration-900 ease-in-out mr-2">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Tryb Jasny/Ciemny</span>
                </button>
                <a href="/login" target="_parent">
                  <button type="submit" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                      Zaloguj się
                  </button>
                </a>

                <a href="/register" target="_parent">
                    <button type="submit" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button">
                        Zarejestruj się
                    </button>
                </a>
                <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
                  <span class="sr-only">Menu</span>
                  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                  </svg>
              </button>
              
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
              <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                  <a href="/" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Strona Główna</a>
                </li>
                <li>
                  <a href="/products" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Produkty</a>
                </li>
              </ul>
            </div>
            </div>
        </nav>
        

        <section class="bg-white dark:bg-gray-900 transition-all duration-900 min-h-screen flex items-center justify-center">
            <div class="max-w-screen-xl mx-auto px-4 md:px-8">
        
                <div class="w-full max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <form class="space-y-6 p-8" id="loginForm">
                        <h5 class="text-xl font-medium text-gray-900 dark:text-white">Panel Logowania</h5>
                        <div>
                            <label for="login" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Login:</label>
                            <input type="login" name="login" id="login" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" style="width:229px;" placeholder="jankowalski321" required>
                        </div>
                        <div class="relative z-0 w-full mb-6 group">
                          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hasło:</label>
                          <div class="form-group">
                            
                            <div class="flex-grow">
                              <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" style="width:229px;" required>
                          </div>
                            <button type="button" class="button2 bg-blue-400 rounded-full" id="reveal" title="Reveal Password" aria-pressed="false">
                              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                  <mask id="eye-open">
                                    <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12V20H12H1V12Z" fill="#D9D9D9" stroke="black"
                                      stroke-width="1.5" stroke-linejoin="round" />
                                  </mask>
                                  <mask id="eye-closed">
                                    <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12V20H12H1V12Z" fill="#D9D9D9" />
                                  </mask>
                                </defs>
                                <path class="lid lid--upper" d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="currentColor" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round" />
                                <path class="lid lid--lower" d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="currentColor"
                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <g mask="url(#eye-open)">
                                  <g class="eye">
                                    <circle cy="12" cx="12" r="4" fill="currentColor" />
                                    <circle cy="11" cx="13" r="1" fill="black" />
                                  </g>
                                </g>
                              </svg>
                              <span class="sr-only">Odkryj Hasło</span>
                            </button>
                          </div>
                        </div>

                        <button type="submit" onclick="submitLoginUser()" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="width:229px;">Zaloguj się</button>
                        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                            &mdash; Nie masz konta? <a href="/register" class="text-blue-700 hover:underline dark:text-blue-500">Stwórz je! &mdash;</a>
                        </div>
                    </form>
                </div>


            </div>
        </section>
        

        <footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4 transition-all duration-900 ease-in-out">
            <div class="w-full max-w-screen-xl mx-auto p-4 md:py-5">
                <div class="sm:flex sm:items-center sm:justify-between">
                  <a href="/" class="flex items-center">
                    <img src="static/assets/home/images/logo.png" class="h-8 mr-3" alt="SklepNa++" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Sklep·Na·++</span>
                  </a>
                    <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                        <li>
                            <a href="#" class="mr-4 hover:underline md:mr-6 ">O Nas</a>
                        </li>
                        <li>
                            <a href="#" class="mr-4 hover:underline md:mr-6">Polityka Prywatności</a>
                        </li>
                        <li>
                            <a href="#" class="mr-4 hover:underline md:mr-6 ">Regulamin</a>
                        </li>
                    </ul>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="/" class="hover:underline">Sklep·Na·++</a>. Wszelkie Prawa Zastrzeżone.</span>
            </div>
        </footer>






        <script type="text/javascript" src="static/assets/home/js/darkmode.js"></script>
        
        <script type="text/javascript" src="static/assets/home/js/main.js"></script>
        <script src="https://assets.codepen.io/16327/MorphSVGPlugin3.min.js"></script>
        <script src="https://assets.codepen.io/16327/ScrambleTextPlugin3.min.js"></script>
        <script src="https://unpkg.com/gsap@3.11.0/dist/gsap.min.js"></script>
        <script type="text/javascript" src="static/assets/home/js/password.js"></script>
        <script>
            document.getElementById('loginForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Zapobiega domyślnemu wysłaniu formularza
                submitLoginUser();
              });

            function submitLoginUser() {
              const formData = new FormData(document.getElementById('loginForm'));
              fetch('/login', {
                method: 'POST',
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: {
                  'Content-Type': 'application/json'
                }
              })
              .then(response => response.json())
              .then(data => {
                Swal.fire({
                  title: data.status === 'success' ? 'Zalogowano' : 'Błąd',
                  text: data.message,
                  icon: data.status === 'success' ? 'success' : 'error',
                  confirmButtonText: 'OK',
                  color: '#DEECF9',
                }).then((result) => {
                  if (data.status === "success") {
                    location.href = "/";
                  }
                });
              })
              .catch(error => {
                console.error('Błąd podczas logowania:', error);
                Swal.fire({
                  title: 'Błąd',
                  text: 'Wystąpił problem z połączeniem.',
                  icon: 'error',
                  confirmButtonText: 'OK',
                  color: '#DEECF9',
                });
              });
            }
          </script>
          
    </body>
</html>